.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
  padding: 2rem;
  font-family: monospace;
}


.quote-wrapper {
  border: 0.5px solid #5a5a5a;
  padding: 2rem;
  color: #5a5a5a;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #5a5a5a;
  color: white;
}